/* locker - 라카현황 */
.locker-form {
  /* width: 1200px; */
  /* height: 80%; */
  display: flex;
  position: relative;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0 14% ;
}
.locker-form article {
  background: white;
  width: 1400px;
  /* height: 300px; */
  /* padding: 40px 20px 20px 30px; */
  padding: 35px 80px;
  margin: 20px 0 10px 0;
  border-radius: 10px;
  overflow: auto hidden;
}
.locker-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.locker-form th, tr, td {
  border: 1px solid #f0f0f0;;
  overflow-wrap: break-word;
  padding: 16px;
}
.locker-form th {
  height: 32px;
  font-size: 16px;
  font-weight: 500;
  background: #fafafa;;
  border-top: 3px solid rgb(22, 45, 89);
  border-bottom: 1px solid #f0f0f0;
  color: rgba(0,0,0,.85);
  position: relative;
}
.locker-form td {
  height: 40px;
}
.locker-form table {
  width: 1700px;
  min-width: 100%;
  table-layout: auto;
  /* height: 52px; */
}
.locker-form thead {
  height: 52px;
  background: #F4F5FE;
  color: #162D59;
  font-size: 14px;
}
.locker-form .check-list-input {
  display: flex;
  justify-content: center;
}
.locker-form .checkbox-th {
  width: 0;
}
.locker-form tbody tr {
  height: 52px;
}
.locker-form tbody td:not(.check-wrap){
  text-align: center;
}
.locker-form .check-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.locker-form input[type='checkbox'] + label {
  display: flex;
}
.locker-30days-null {
  width: 1140px;
  height: 89px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  font-size: 18px;
  font-weight: 700;
  color: #9C5936;
}
.locker-form .locker-30days-form .mark-icon {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

/* locker header */
.locker-status-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.locker-status-form .left-btn {
  display: flex;
  align-items: center;
}
.left-btn h2 {
  margin-right: 30px;
  margin-bottom: 0;
}
.left-btn > button {
  width: 74px;
  height: 36px;
  border-radius: 2px;
  border: 1px solid #d9d9d9;
  background: #162D59;
  margin: 0 6px 0 0;
}
.left-btn .array-btn {
  background: white;
  color: #313131;
}
.right-btn > input {
  width: 231px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
}
.right-btn {
  display: flex;
  margin-right: 10px;
}
.right-btn > button {
  border: 1px solid #E3E3E3;
  background: #E3E3E3;
  border-radius: 2px;
  margin-top: 0;
}
.right-btn .add-btn {
  width: 120px;
  height: 35px;
  margin-left: 6px;
  margin-right: 6px;
  background: #FFFFFF;
  border: 1px solid #E3E3E3;
  color: black;
}
.right-btn .select-del-btn {
  width: 91px;
  height: 37px;
  color: #D7A35F;
}

/* locker settings */
.settings {
  display: flex;
  align-items: flex-start;
}
.settings .locker-form {
  margin-top: 90px;
}
.settings .status-note {
  text-align: right;
  margin-right: 20px;
  margin-bottom: 15px;
  font-weight: 600;
}