section {
  top: 0px;
  left: 0px;
  /* width: 1920px; */
  height: 75vh;
  /* height: 969px; */
  background: #F3F5F8;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.register-form {
  width: 600px;
  height: 540px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.register-form h2 {
  width: 100%;
  font-size: 23px;
  font-weight: bold;
  text-align: left;
  padding: 30px 80px;
}
.register-form input {
  width: 410px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  padding: 0 15px;
  margin-bottom: 3px;
  font-size: 14px;
  transition: all .3s;
  opacity: 1;
}
.register-form h3 {
  margin-top: 30px;
}
.register-form .form {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}
.register-form h3 {
  font-size: 14px;
  margin-bottom: 10px;
}
.register-form .input-form {
  align-items: center;
  margin-bottom: 60px;
}
.register-form .input-form h3::before,
.register-form .user-form h3::before {
  width: 10px;
  height: 10px;
  content: '*';
  color: #ff4d4f;
  font-size: 14px;
  margin-right: 4px;
}
input::placeholder {
  color: #A8A8A8;
  font-size: 14px;
}
input:hover {
  border-color: #2a4166;
  border-right-width: 1px!important;
}
input:focus {
  border-color: #2a4166;
  border-right-width: 1px!important;
  box-shadow: 0 0 0 2px rgb(22 45 89 / 20%);
  outline: 0;
}
.condition {
  font-size: 14px;
}
.pw-condition li {
  color: #162D59;
}

/* termsUse */
.check-form {
  display: flex;
  flex-direction: column;
  margin: 80px;
}
.check-form input[type='checkbox'] {
  width: 24px;
  height: 24px;
}
.check-form h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 0 5px;
}
.check-from article {
  display: flex;
  align-items: center;
}
.check-list {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.check-list h4 {
  font-size: 15px;
  font-weight: 500;
  margin: 0 5px 30px;
}
.check-list span {
  margin-left: 5px;
}
.check-list a {
  color: rgb(215, 163, 95);
  text-decoration: underline;
  font-size: 13px;
}
.check-list-input {
  display: flex;
}

/* userInfo */
.user-form article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 80px;
}
.user-form h3 {
  margin-top: 20px;
}
.user-phone {
  display: flex;
  flex-direction: column;
}
.phone-numb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.phone-numb input {
  width: 280px;
  margin-right: 3px;
}
.phone-numb button {
  width: 125px;
  height: 32px;
  background: #162d59;
  border-color: #162d59;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  margin-top: 0;
}
.phone-numb button:hover {
  background: #2a4166;
}
.user-form footer {
  height: 100px;
  display: flex;
  justify-content: center;
}
.user-form footer button {
  width: 224px;
  height: 48px;
  font-size: 15px;
  border-radius: 4px;
  margin-left: 5px;
}
.user-form footer .prev-btn {
  background: #fff;
  color: #162D59;
  border: 1px solid #162D59;
}
.user-form .next-btn:hover {
  background: black;
}

/* facilityInfo */
.facility-form {
  display: flex;
  align-items: center;
  margin: 0 80px;
}
.facility-form select {
  width: 203px;
  height: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  padding: 0 15px;
  margin-bottom: 3px;
  font-size: 14px;
  transition: all .3s;
  opacity: 1;
}
.facility-form .facility-type {
  display: flex;
  align-items: center;
}
.facility-type .name-wrap {
  margin-left: 4px;
}
.facility-type .name-input {
  width: 203px;
}
.facility-add .code-wrap {
  display: flex;
}
.facility-add .code-input {
  width: 290px;
}
.code-search-btn {
  width: 116px;
  height: 30px;
  margin: 0 0 0 4px;
  font-size: 14px;
}
.post-style {
  position: absolute;
  width: 400px !important;
  height: 400px !important;
  top: 50%;
  left: 40%;
  border: 1px solid black;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

/* welcome */
.welcome-form {
  left: 50%;
  width: 600px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
}
.form-wrap article {
  display: flex;
}
.form-wrap h1 {
  font-size: 44px;
  color: #222222;
  font-weight: 600;
}
.form-wrap span {
  font-size: 44px;
  font-weight: 100;
}
.form-wrap p {
  font-size: 18px;
  color: #A8A8A8;
  margin: 10px 0 50px 0;
}
.form-wrap img {
  width: 134px;
  height: 137px;
}
.form-wrap button {
  font-size: 18px;
}

/* findPw */
.find-pw {
  width: 600px;
  height: 466px;
}
.findPw-form {
  display: flex;
  margin: 0 80px;
}
.find-phone-text p {
  font-size: 15px;
  color: #A8A8A8;
}
.phone-text {
  color: #222222;
}
.findPw-form .next-btn {
  width: 440px;
}