/* .App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
.header {
  display: flex;
  background: #162D59 0% 0% no-repeat padding-box;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  top: 0px;
  /* left: -1px; */
  width: 1920px;
  height: 80px;
  margin-left: 10%;
  opacity: 1;
}
.header-logo {
  top: 17px;
  left: 360px;
  width: 153px;
  height: 44px;
  text-indent: -1000em;
  margin-right: 40px;
  background: transparent url('./assets/logo.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav > li:not(.header-logo) {
  font: var(--unnamed-font-style-normal) normal 600 20px/24px var(--unnamed-font-family-pretendard);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  word-break: keep-all;
  font: normal normal 600 20px/24px Pretendard;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  margin: 0 40px;
}
.locker-btn-set {
  /* top: 27px;
  left: 617px;
  width: 69px;
  height: 24px; */
}
.locker-btn-status {
  /* top: 27px;
  left: 759px;
  width: 69px;
  height: 24px; */
}
.locker-btn-allMember {
  /* top: 27px;
  left: 901px;
  width: 74px;
  height: 24px; */
}
.sub-nav {
  display: flex;
  align-items: center;
  margin-right: 10%;
}
.sub-nav > li {
  font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-16)/var(--unnamed-line-spacing-22) var(--unnamed-font-family-pretendard);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  word-break: keep-all;
  font: normal normal normal 16px/22px Pretendard;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.sub-dia {
  margin: 10px;
}
.main-banner {
  display: flex;
}
.main-banner-img {
  top: 0px;
  left: 0px;
  width: 2000px;
  /* height: 900px; */
  display: flex;
  align-items: center;
  background: url('./assets/img/bg.jpg');
  background-size: cover;
  aspect-ratio: 20 / 9;
  opacity: 1;
}
.main-banner-img article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}
.main-banner-img article > h1 {
  top: 283px;
  left: 360px;
  width: 443px;
  text-align: left;
  font-size: 50px;
  letter-spacing: -4px;
  color: #FFFFFF;
  opacity: 1;
}
.main-banner-p {
  letter-spacing: var(--unnamed-character-spacing-0);
  font-size: 22px;
  text-align: left;
  letter-spacing: -1px;
  line-height: 28px;
  margin-top: 30px;
  margin-left: 10px;
  color: #FFFFFF;
  opacity: 1;
}
.main-btn {
  width: 290px;
  height: 70px;
  border-radius: 2%;
  background: white;
  color: #162D59;
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
  opacity: 1;
}
.main-btn:hover {
  background: #F3F5F8;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 879px;
  left: 0px;
  /* width: 1920px; */
  height: 162px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  padding: 30px 20px;
  opacity: 1;
}
.footer-p {
  margin-top: 40px;
}
.footer-p > ul {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  color: #162D59;
  margin-bottom: 15px;
}
.footer-p > article {
  display: flex;
  flex-direction: column;
  color: rgb(34, 34, 34);
  font-size: 13px;
}
.copyright {
  font-size: 14px;
  font-weight: 200;
  margin-top: 15px;
}
.footer-sns > ul {
  display: flex;
}
.footer-sns > ul > li {
  margin: 0 10px;
}